@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&display=swap');

:root {
  --fontMain: 'Archivo', sans-serif;
  --fontStyleNormal: "wdth" 125, "wght" 400;
  --fontStyleHover: "wdth" 62, "wght" 900;
  --fontStyleActive: "wdth" 62, "wght" 100;
  --colorMain: #AEF553;
  --colorDark: #000;
  --colorLight: #fff;
  --basicTransition: all 0.1s cubic-bezier(.32, .5, .78, .91);
}

html {
  font-size: 22px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fontMain);
  cursor: none;
}

#map {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* header */
.header,
.letterControl {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 999;
}

.header {
  top: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid var(--colorDark);
  background-color: var(--colorMain);
  /* background: linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); */
}

.letterControl {
  /* background: linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); */
}

a#logo {
  color: var(--colorDark);
  font-variation-settings: var(--fontStyleNormal);
  text-shadow: 0 0 5px transparent;
  text-decoration: none;
  font-size: 2rem;
  padding: 0 .2rem;
  text-align: left;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
}

a#logo.split .char {
  transition: var(--basicTransition);
}

a#logo.split .char:hover {
  font-variation-settings: var(--fontStyleHover);
  text-shadow: 0 0 2px var(--colorMain);
}

a#logo #coordinates {
  font-size: 1rem;
  margin-left: 0.4rem;
}

.letterControl {
  text-align: center;
  bottom: 0;
}

/* footer */
ul#letterOverview {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 2px solid var(--colorDark);
  background-color: var(--colorMain);
}

ul#letterOverview li {
  display: inline-block;
}

.button {
  font-family: var(--fontMain);
  font-variation-settings: var(--fontStyleNormal);
  text-shadow: 0 0 5px transparent;
  padding: 0;
  margin: 0;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--colorDark);
  border: 2px solid var(--colorDark);
  background: none;
  transition: var(--basicTransition);
}

.letterButton {
  width: 100%;
}

.button:hover {
  font-variation-settings: var(--fontStyleHover);
  text-shadow: 0 0 2px var(--colorMain);
}

.button:focus,
.button:active,
.button.active {
  font-variation-settings: var(--fontStyleActive);
  text-shadow: 0 0 2px var(--colorMain);
}

a.button.links {
  text-transform: none;
  border: none;
  border-left: 2px solid var(--colorDark);
  padding: 0 .4rem;
  font-variation-settings: "wdth" 62, "wght" 400;
  white-space: nowrap;
  text-decoration: none;
}
a.button.links:hover {
  font-variation-settings: "wdth" 100, "wght" 300;
}

ul#letterOverview li .button {
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-color: var(--colorDark);
}

ul#letterOverview li:last-child .button {
  border: none;
}

.arrows {
  width: 60px;
  z-index: 999;
  border: none;
}

.arrows#arrowPrev {
  left: 0;
  border-right: 2px solid var(--colorDark);
}

.arrows#arrowNext {
  right: 0;
  border-left: 2px solid var(--colorDark);
}

.mapboxgl-control-container {
  display: none;
}

.navigationTool {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: none;
  pointer-events: none;
  z-index: 998;
}
.cursorLine {
  background-color: var(--colorDark);
  position: fixed;
  left: 0;
  top: 0;
}
.cursorLine.verticalCursor {
  width: 2px;
  height: 100vh;
}
.cursorLine.horizontalCursor {
  width: 100%;
  height: 2px;
}
.cursorPoint {
  background-color: transparent;
  position: fixed;
  width: 8px;
  height: 8px;
  border: 2px solid var(--colorDark);
}
